.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: var(--main-border);
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  /* find-icons__icon의 각 요소를 세로로 정렬 */
  align-items: center;
  /* find-icons__icon의 각 요소를 가운데 정렬 */
}

.find-icons__icon i {
  font-size: 35px;
}

.find-icons__icon span {
  margin-top: 15px;
}

.recommended-friends__text {
  margin: 15px 0px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.recommended-friends span {
  display: flex;
  width: 100%;
  height: 200px;
  font-size: larger;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  align-items: center; /* 가로 기준 중앙에 놓기 */
  justify-content: center; /*세로 기준 중앙에 놓기*/
  border-bottom: var(--main-border);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
}

.open-post__column {
  margin: 25px 0px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ee87c6;
}
.open-post__column--photo {
  position: relative;
  /* 부모 위치에서 포지션 렐라티브 시키고 */
}
.open-post__column--photo img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.open-post__heart--count {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0.8;
  padding: 5px;
  border-radius: 20px;
  diplay: flex;
  align-items: center;
  position: absolute;
  /* 자녀 위치에서 포지션 앱솔루트 시키면 그림위에 그림 배치 가능해진다 */
  bottom: 5px;
  right: 5px;
}
.open-post__heart--count span {
  margin-left: 3px;
}
